<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cex.api.mapper.BaitsMapper">
    <select id="selectBaits" resultType="com.cex.api.model.BaitsModel">
        SELECT name AS name
             , effect AS effect
             , remark AS remark
             , price AS price
          FROM baits
    </select>
</mapper>